* {
  box-sizing: border-box;
}

body {
  background-color: ghostwhite;
}

.container {
  display: grid;
  grid-template-columns: 200px, repeat(4, 190px);
  grid-template-rows: 100px, 200px, 250px, 150px;
  width: 960px;
  margin: auto;
}
/* main {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: baseline;
} */

@media all and (max-width: 500px) {
  .container {
    display:flex;
    flex-direction: column;
    height: 767px;
    width: 480px;
    margin: auto;
  }
}

@media all and (max-width: 991px){
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr, 4fr, 3fr, 2fr;
    width: 1250px;
    margin:auto;
  }
}

