.a {
  height: 100px;
  width: 960px;
  border: 2px solid black;
  text-align: center;
  line-height: 100px;
  margin-top: 30px;
  background-color: #bbfae6;
}

.b {
  width: 200px;
  height: 600px;
  border: 2px solid black;
  text-align: center;
  line-height: 600px;
  float: left;
  background-color: #80ffd7;
}

.c,
.d {
  width: 380px;
  height: 200px;
  border: 2px solid black;
  text-align: center;
  line-height: 200px;
  float: left;
  background-color: #00ffae;
}

.e,
.f,
.g,
.h {
  width: 190px;
  height: 250px;
  border: 2px solid black;
  text-align: center;
  line-height: 250px;
  float: left;
  background-color: #00ce8d;
}
.i {
  width: 760px;
  height: 150px;
  border: 2px solid black;
  text-align: center;
  line-height: 150px;
  float: left;
  background-color: #018b60;
}

@media all and (max-width: 768px) {
  .a {
    width: 480px;
    height: 75px;
    line-height: 75px;
    background-color: #f5f4c4;
  }

  .b {
    width: 480px;
    height: 150px;
    line-height: 150px;
    background-color: #fdfb93;
  }

  .c,
  .d {
    width: 480px;
    height: 125px;
    line-height: 125px;
    background-color: #f5f258;
  }

  .e,
  .f,
  .g,
  .h {
    width: 240px;
    height: 250px;
    background-color: #f8f53d;
    line-height: 250px;
  }
  .i {
    width: 480px;
    height: 80px;
    line-height: 80px;
    background-color: #c0bd06;
  }
}
